@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f7f9fa;
  margin: 0;
  padding: 0;
}
